body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffeb3b96; /* Bright yellow */
  padding: 20px;
  color: #333;
}

.App-logo {
  height: 80px;
}

h1 {
  font-size: 2.5em;
  color: #004d40; /* Dark teal */
}

.main {
  padding: 20px;
}

.lottery-info {
  background: #e8f5e9; /* Light green */
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.prize-pool {
  background: #0bee8c35; /* Bright yellow */
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.prize-pool-label {
  font-size: 1.2em;
}

.prize-pool-amount {
  font-size: 2em;
  color: #004d40; /* Dark teal */
}

.btn-donate {
  background-color: #003b4d; /* Dark teal */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.btn-enter {
  background-color: #004d40; /* Dark teal */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-donate:hover, .btn-enter:hover {
  background-color: #00332a; /* Darker teal */
}

.entry-form {
  margin-top: 20px;
}

.entry-form input {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #004d40; /* Dark teal */
  border-radius: 5px;
  margin-right: 10px;
}

.info-container {
  background: #e8f5e9; /* Light green */
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  font-size: 1em;
}

.info-text {
  color: #004d40; /* Dark teal */
}

.recent-winners, .faq {
  margin: 20px auto;
  max-width: 800px;
}

.faq-item {
  background: #ffffff; /* White */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
}

footer {
  background: #004d40; /* Dark teal */
  color: white;
  padding: 20px;
  text-align: center;
}

footer .advertisements p {
  margin: 0;
}

.footer-content {
  margin-top: 10px;
}

#current-year {
  font-weight: bold;
}


@media (max-width: 600px) {
  .entry-form input {
    width: 100px;
  }
}
.connectArea {
  position: fixed; /* Keeps the element fixed in position */
  top: 10px; /* Distance from the top of the viewport */
  right: 10px; /* Distance from the right of the viewport */
  padding: 10px; /* Optional: Adjust the padding as needed */
  z-index: 1000; /* Ensures the element stays on top of other elements */
}

/* Styles for the account info box */
.account-info {
  background: linear-gradient(135deg, #ffeb3b96 0%, #01bc87 150%); /* Gradient background */
  border: none;
  border-radius: 15px; /* More rounded corners */
  padding: 15px;
  margin: 5px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More prominent shadow */
  color: #fff; /* White text color */
  transition: transform 1s ease; /* Smooth transformation */
}
@media only screen and (max-width: 768px) {
  .account-info {
    background: linear-gradient(135deg, #f2db0e59 0%, #01bc876b 150%); /* Gradient background */
    border: none;
    border-radius: 60%; /* More rounded corners */
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More prominent shadow */
    color: #fff; /* White text color */
    transition: transform 2s ease; /* Smooth transformation */
  }
  .account-info p {
    margin: 2px 0;
    font-weight: 0; 
    font-size: x-small;/* Bold text */
  }
}

.account-info:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.account-info p {
  margin: 10px 0;
  font-weight: 700; /* Bold text */
}
.donation-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.donation-form input[type="number"] {
  width: 80px; /* Small width */
  padding: 8px;
  font-size: 1em;
  border: 2px solid #004d40; /* Dark teal */
  border-radius: 5px;
  margin-right: 10px; /* Space between input and button */
  text-align: center; /* Center text */
}

.donation-form button {
  background-color: #004d40; /* Dark teal */
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.donation-form button:hover {
  background-color: #00332a; /* Darker teal */
}
